<!--The content below is only a placeholder and can be replaced.-->
<div id="app">
  <header class="tray">
    <div class="navigation">
      <div class="flexible">
        <div class="navigation__item navigation__item--brand">
          <a class="navigation__link--brand" routerLink="">Ryan Hafer</a>
        </div>
        <div class="navigation__item">
          <a class="navigation__link" routerLink="/contact">
            Contact Me
          </a>
        </div>
        <div class="navigation__item navigation__item--right">
          <div class="navigation__text">
            <i class="material-icons">&#xE325;</i>
            <a class="link--plain" href="tel:1-517-303-1176">517.303.1176</a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <section class="tray">
    <router-outlet></router-outlet>
  </section>
</div>