<div class="banner">
  <div class="banner__heading banner__heading--jumbo">
    <h1 class="text--center">
      <span [@fadeIn]="headingWord1" class="text--silver">IMAGINATIONS</span><br />
      <span [@fadeIn]="headingWord2" class="text--silver-medium">TO</span> &nbsp;
      <span [@fadeIn]="headingWord3" class="text--silver-dark">REALITIES</span>
    </h1>
  </div>
</div>

<div class="content">
  <div class="content__focus">
    Creating is something that I love to do; It doesn't matter the medium or the 
    subject matter. I enjoy building and creating at work, as well as, in my 
    leisure time. Much of what I do is taking an idea and putting it into the 
    real world, whether it be an advertisement, web design or business.
  </div>
</div>

<div class="content">
  <div class="flexible flexible--center flexible--vertical-xs">
    <div class="flexible__item flexible__item--center-xs">
      <div class="badge badge--link badge--jumbo badge--round">
        <a class="badge__link flexible flexible--center" href="https://github.com/ryansh100" target="_blank">
          <div class="text--center">
            <i class="material-icons text--jumbo">&#xE1B0;</i><br/>
            <small>Github</small>
          </div>
        </a>
      </div>
    </div>
    <div class="flexible__item flexible__item--center-xs">
      <div class="badge badge--link badge--jumbo badge--round">
        <a class="badge__link flexible flexible--center" href="https://www.linkedin.com/in/ryan-hafer/" target="_blank">
          <div class="text--center">
            <i class="material-icons text--jumbo">&#xE8F9;</i><br/>
            <small>LinkedIn</small>
          </div>
        </a>
      </div>
    </div>
    <div class="flexible__item flexible__item--center-xs">
      <div class="badge badge--link badge--jumbo badge--round">
        <a class="badge__link flexible flexible--center" href="https://twitter.com/ryhafer" target="_blank">
          <div class="text--center">
            <i class="material-icons text--jumbo">&#xE0CB;</i><br/>
            <small>Twitter</small>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>